body {
  margin: 0;
  padding: 0;
}

.MuiToolbar-root-36.MuiToolbar-gutters-37 {
  padding: 0 10px !important;
}

.search {
  width: 100%;
  margin: 0px 20px;
}

.search .MuiInput-root-62.MuiInput-underline-66 {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app > main {
  flex: 1 1 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.spinner {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline {
  overflow: auto;
  padding: 20px 20%;
}

.timeline .item {
  margin-bottom: 20px;
}

.timeline .item .header-root {
  padding-bottom: 0;
}

.timeline .item .subheader {
  line-height: 17px;
}

.settings {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.settings > .content {
  display: flex;
  flex: 1 1 0;
}

.settings > .content > nav {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.settings > .content > main {
  flex: 1 1 0;
  display: flex;
}

.account-settings {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.account-settings .empty-content {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.account-settings > header {
  flex: 0 0 auto;
  padding: 15px;
}

.account-settings > main {
  flex: 1 1 0;
  position: relative;
  display: block;
  padding: 15px;
  overflow-y: auto;
}

.account-settings .account-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.account-settings .account-grid .account-tile {
  padding: 15px;
  display: flex;
}

.account-settings .account-grid .account-tile .img-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.account-settings .account-grid .account-tile .img-container > img {
  width: 40px;
  height: 40px;
}

.account-settings .account-grid .account-tile .name-container {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.account-settings .account-grid .account-tile .button-container {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.select-account-type-container {
  display: flex;
  width: 340px;
  height: 100px;
}

.select-account-type-container > .tile {
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  user-select: none;
}

.select-account-type-container > .tile:hover {
  background-color: #efefef;
}

.select-account-type-container > .tile:not(:last-child) {
  margin-right: 20px;
}

.select-account-type-container > .tile > .img-container {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
}

.select-account-type-container > .tile > .img-container > img {
  width: 40px;
  height: 40px;
}

.select-account-type-container > .tile > footer {
  flex: 0 0 auto;
}

.legacy-token-input {
  width: 400px;
}

.project-settings {
  flex: 1 1 0;
  display: flex;
  background-color: #efefef;
}

.project-settings .project-list {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-right: 1px solid #ddd;
}

.project-settings .project-list > header {
  flex: 0 0 auto;
}

.project-settings .empty-content {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rapid-project-creator {
  height: 68px;
  padding: 0px 14px;
  display: flex;
  align-items: center;
}

.project-editor {
  flex: 1 1 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.project-editor > header {
  padding: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.project-editor > header > h1 {
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  flex: 1 1 0;
}

.project-editor > header > h1:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.project-editor > header > .rename-input {
  height: 51px;
  font-size: 45px !important;
  flex: 1 1 0;
  line-height: 1.13333em;
}

.project-editor > header > button {
  margin-left: 20px;
}

.project-editor > main {
  flex: 1 1 0;
  padding: 15px;
  overflow-y: auto;
}

.project-editor .empty-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-editor .source-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.project-editor .source-grid .source-tile {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.project-editor .source-grid .source-tile > header {
  flex: 0 0 auto;
  display: flex;
  margin-bottom: 10px;
}

.project-editor .source-grid .source-tile > header .icon {
  margin-right: 10px;
}

.project-editor .source-grid .source-tile > header .title {
  flex: 1 1 0;
}

.project-editor .source-grid .source-tile > footer {
  flex: 0 0 auto;
  display: flex;
}

.project-editor .source-grid .source-tile > footer .account-icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.menu-item-text {
  white-space: normal;
}

.slack-source-configuration-dialog-content {
  display: flex;
  height: 300px;
  width: 500px;
  padding-bottom: 0 !important;
}

.searchable-list {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.searchable-list header {
  flex: 0 0 auto;
}

.searchable-list main {
  flex: 1 1 0;
  display: flex;
  overflow-y: auto;
}

.menu {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.menu .menu-list {
  flex: 1 1 0;
}

.menu .menu-list.scrollable {
  overflow-y: auto;
}

.icon.mdi {
  margin-top: -1%;
  overflow: visible;
}
