body {
  margin: 0;
  padding: 0;
}

.MuiToolbar-root-36.MuiToolbar-gutters-37 {
  padding: 0 10px !important;
}

.search {
  width: 100%;
  margin: 0px 20px;
}

.search .MuiInput-root-62.MuiInput-underline-66 {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app > main {
  flex: 1 1 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
}

.spinner {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.settings > main {
  flex: 1 1 0;
  display: flex;
}

.project-settings {
  flex: 1 1 0;
  display: flex;
}

.project-settings .project-list {
  flex: 0 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.project-settings .project-list > header {
  flex: 0 0 auto;
}

.project-settings .empty-content {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timeline {
  overflow: auto;
  padding: 20px 20%;
}

.timeline .item {
  margin-bottom: 20px;
}

.timeline .item .header-root {
  padding-bottom: 0;
}

.timeline .item .subheader {
  line-height: 17px;
}

.rapid-project-creator {
  height: 68px;
  padding: 0px 14px;
  display: flex;
  align-items: center;
}

.project-editor {
  flex: 1 1 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.project-editor > header {
  padding: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.project-editor > header > h1 {
  margin-bottom: 0;
  flex: 1 1 0;
}

.project-editor > header > h1:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.project-editor > header > .rename-input {
  height: 48px;
  font-size: 45px !important;
  flex: 1 1 0;
}

.project-editor > header > button {
  margin-left: 20px;
}
